pkgbase = pictogrep
	pkgdesc = Find local pictures using natural-language descriptions
	pkgver = 0.5.0
	pkgrel = 1
	url = https://navylily.tv/pictogrep
	arch = x86_64
	license = MIT
	depends = gallery-dl
	makedepends = go
	source = pictogrep-0.5.0.tar.gz::https://github.com/tiagohierath/pictogrep/archive/refs/tags/v0.5.0.tar.gz
	source = pictogrep.desktop
	sha256sums = 3df6b9a0101ddf170507174609410aa04547f9d37cfc723d22967c0ec79d6a7e
	sha256sums = df9a4705e0dbee6be4a9b05233c6058e5bbf3a34722062e0863f34af370bdf9d

pkgname = pictogrep
